div span:nth-child(1) {
  color: var(--brand-label-color);
}

div:not(.short) span:nth-child(1) {
  margin-right: 10px;
}

:host {
  display: flex;
  align-items: center;
  justify-content: center;
}
