:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host > div {
  display: block;
  border: 1px solid var(--brand-shadowy-border-color);
  border-radius: 4px;
  padding: 5px;
  width: 76%;
  height: auto;
}
