figure {
  text-align: center;
  color: var(--brand-primary-color);
}

img {
  border: 1px solid var(--brand-shadowy-border-color);
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  height: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px var(--brand-shadow-color);
}
